.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  padding: 1em;
  inset: 0;
  background: var(--primary-bg-color);
  transform: translateX(100%);
  transition: transform 0.5s ease-in-out;
}

.open {
  transform: translateX(0);
}

.closeBtn {
  align-self: flex-end;
  background: none;
  border: none;
}

@media (min-width: 500px) {
  .container {
    inset: unset;
    right: 0;
    top: 75px;
    bottom: 75px;
    width: 200px;
    border-radius: 500px;
    background: white;
  }
  .open {
    right: 20px;
  }

  .closeBtn {
    align-self: unset;
  }
}
