.container {
  display: flex;
  flex-direction: column;
  position: fixed;
  padding: 1em;
  inset: 0;
  background: var(--primary-bg-color);
  transform: translateX(100%);
  transition: transform 0.5s ease-in-out;
}

.open {
  transform: translateX(0);
}
