.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: transform 0.5s ease-in-out;
}

.container:hover {
  transform: scale(1.3);
}

.title {
  font-size: 0.75rem;
  font-weight: 300;
  margin: 0;
}

.figureNumber {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 0;
}

.figureText {
  font-size: 0.875rem;
}

.figureTextIntensity {
  font-size: 0.525rem;
}
