.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border: 1px solid red;
}

.title {
  font-size: 0.875rem;
  margin: 0;
}

.btn {
  background: none;
  border: none;
}
