.figure_display_bar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.chart_grid {
  margin-block: 20px;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid red;
}
