main {
  min-width: fit-content;
}

.figure_display_bar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 75px;
}

.chart_grid {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  padding: 1em;
  min-width: fit-content;
}
