main {
  min-width: fit-content;
}

.figure_display_bar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 75px;
}

.chart_grid {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  gap: 2em;
  padding: 1em;
  min-width: fit-content;
}

@media (min-width: 600px) {
  .figure_display_bar {
    justify-content: flex-start;
    gap: 4em;
    padding-left: 3em;
  }
}
