* {
  box-sizing: border-box;
}

:root {
  --primary-bg-color: #dad7cd;
}

body {
  font-family: 'Montserrat Alternates', sans-serif;
  margin: 0;
  background-color: var(--primary-bg-color);
}

button {
  cursor: pointer;
}

button:active {
  transform: scale(1.2);
}
