.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 95%;
  height: 60px;
  padding: 1em;
  margin: 0.5em auto 1em;
  border-radius: 50px;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
  background-color: white;
}

.headerBtn {
  border: none;
  background: none;
  cursor: pointer;
}

.nav {
  display: flex;
  flex-direction: column;
  position: fixed;
  inset: 0;
  padding: 1.25em;
  background: var(--primary-bg-color);
  transform: translateX(-100%);
  transition: transform 0.5s ease-in-out;
}

.navOpen {
  transform: translateX(0);
}

.nav ul {
  list-style: none;
  padding: 0;
}

.closeBtn {
  align-self: flex-end;
  border: none;
  background: none;
  cursor: pointer;
}
