.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  padding: 1em;
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
  min-width: 300px;
  width: 100%;
}

.maxSmall {
  max-width: 400px;
}

.maxLarge {
  max-width: 800px;
}
