.container {
  border-radius: 25px;
  padding: 1em;
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
